* {
  box-sizing: border-box;
}

/*Web Fonts*/
/*Pseudo code*/

a:active {
  color: #ffffff;
}

.main-nav a:hover,a:hover {
  background-color: #ff3333;
}

/* styles for 320px screen*/

@media screen and (min-width: 320px) {

body {
  background: #D3D3D3;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
 display: flex;
 justify-content: center;
}


 .main-nav a  {
  display: block;
  margin-bottom: 10px;
  margin-right: 2em;
  padding: 10px 0;
  padding-right: 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: black;
  background: white;
}


.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}



.header-wrapper {
  background-color: #4dc3ff;
  padding: 10px 10px;
  margin: -10px;

}

ul {
list-style-type: none;
}

p,h3,h2 {
  text-align: center;
}


 .marketing,
 .search,
 .travel,
 .favorite-spots,
 .photo,
 .calc
 /*
 .html,
 .css,
 .js,
 .thinking,
 .teamwork,
 .communication*/ {
   height: auto;
   width: auto;
   max-width: 367px;
   max-height: 225px;
}


.hidden-nav {
  display:none;
}

.bottom-wrapper  {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.top-link {
  text-decoration: none;
}

footer {
  background-color: #4dc3ff;
  padding: 10px 10px;
  margin: 0 -10px;
  margin-top: 100px;
}

.name {
  padding-left: 15px;
}

.container {
  padding-top: 0;
}
}

  /* styles for 768px screen*/

  @media screen and (min-width: 768px) {

    .main-nav,
    .main-header {
      display: block;

    }

    .main-nav a {
      background: #4dc3ff;
      display: inline-block;
    }

    .main-nav {
      text-align: center;
    }


 .main-header {
   flex-direction: column;
   align-items: center;
 }

 .profile {
   display: flex;
   flex-direction: row-reverse;
   margin-left: 10px;
   margin-right: 10px;
}

  .img-wrapper {
    margin-left: 10px;
  }


#skills {
  text-align: center;

}
  .top-link {
    display: none;
  }
/*
  .skills-row {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  */

  .hidden-nav, li {
    display: inline;
    padding-right: 10px;
  }


  a {
    text-decoration: none;
    list-style-type: none;
  }
  .bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

  }


}



/* styles for 1024px screen*/

@media screen and (min-width: 1024px) {

  .main-nav,
  .main-header {
    display: flex;
    justify-content: space-between;

  }

  .main-nav a {
    background: #4dc3ff;
  }


  .main-header {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
  }

  .three-row {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 15px;
    }

    .row, #skills {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-around;
    }

    .col {
      display: flex;
      flex-direction: column;
      flex: 1;
      }
      .col-marketing,
      .col-search,
      .col-travel,
      .col-spots,
      .col-gallery,
      .col-calculator {
      flex-basis: 33%;
      align-self: baseline;
      }
/*
      .col-html,
      .col-css,
      .col-js,
      .col-communication,
      .col-teamwork,
      .col-thinking {
        width: 100%;
      }
      */
}
